/*--------------------------------global---------------------------------*/

body{
	margin: 0;
	overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

  .container{
  	max-width: 62.5em;
  }

/*---------------------------------------------------global-----------------------------------------------------*/

.hero-container {
	height: 100vh;
	width: 100%;
	/*background-image: url('../img/1.jpg');*/
	/*background-size: cover;*/
}

.hero-container h1{
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 100px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

/*---------------------------------------------------- Navbar ------------------------------------------*/

.top-nav ul{
  position: absolute;
  right: 10%;
  top: 0;
  margin-top: 18px;	
}

.top-nav ul li a{
	color: white;
	text-decoration: none;
}

.top-nav ul li{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	margin-right: 10px;3w
}

.bottom-nav{
	position: relative;
  left: 10%;
  top: 46px;
}

.nav-logo{
}

.nav-links{
	display: inline-block;
	position: relative;
	top: -10px;
	width: 66%;
}

.nav-links li{
	display: inline-block;
	margin-right: 10px;
	font-family: 'Open Sans', sans-serif;
}

.nav-links li a{
	color: white;
	text-decoration: none;
}


.search{
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-right: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    border-radius: 10px 0px 0px 10px;
    height: 20px;
    outline: none;
  /*background-image: url('../img/searchicon.png');*/
}

.search-button{
  background-color: transparent;
  height: 26px;
  border-left: none;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  /* background-color: white; */
  padding-top: 2px;
  border-radius: 0 10px 10px 0px;
  transform: translate3d(-4px, 1px, 0);
  cursor: pointer;
}

.hero-title{
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	font-weight: 700;
}










/*------------------------------------------------- Media queries -------------------------------------------*/

@media only screen and (min-width : 320px) {
        
}

 @media only screen and (max-width : 992px) {
 	.top-nav ul{
 		right: 5%;
 	}

 	.nav-logo {
 		left: 5%;
 	}
}