/*--------------------------------global---------------------------------*/

body{
	margin: 0;
  padding: 0px;
	overflow-x: hidden;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

  .container{
  	max-width: 62.5em;
  }

  .vhcenter{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .hcenter{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

/*---------------------------------------------------global-----------------------------------------------------*/


.hero-container {
	height: 100vh;
	width: 100%;
	/*background-image: url('../img/1.jpg');*/
	/*background-size: cover;*/
}

.hero-container-arch {

  height: 100vh;
  width: 100%;
  background-image: url(../images/discoverindia/discoverindiaheader.png);
  background-size: cover;
  background-repeat: no-repeat;

}





/*---------------------------------------------------- NAVBAR ------------------------------------------*/





.top-nav ul{
  position: absolute;
  right: 11%;
  top: 0;
  margin-top: 18px; 
}

.top-nav ul li a{
  color: white;
  text-decoration: none;
}

.top-nav ul li{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  margin-right: 10px;3w
}


.dropdown{


    background-color: transparent;
    border: none;
    color: white;
}

.wishlistheart {
background-color: transparent;
height: 14px;
width: 11px
border-left: none;

}

.top-nav li{
  font-family:'Open Sans', sans-serif;
  font-size: 11px;
}

.bottom-nav{
  position: relative;
  left: 10%;
  top: 46px;
}

.nav-links{
  display: inline-block;
  position: relative;
  top: -10px;
  width: 66%;
}

.nav-links li{
  display: inline-block;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;

}

.nav-links li a{
  color: white;
  text-decoration: none;
}

.nav-links a:hover {

  text-decoration:underline;    
  text-underline-position:center;
  color:#c2c2c2;
  border-width: 0px 0px 4px 0px;
  padding-bottom: 11px;

}

.search{
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-right: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    border-radius: 10px 0px 0px 10px;
    height: 20px;
    outline: none;
    margin-left: 30px;

  /*background-image: url('../img/searchicon.png');*/
}

.search-button{
  background-color: transparent;
  height: 26px;
  border-left: none;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  /* background-color: white; */
  padding-top: 2px;
  border-radius: 0 10px 10px 0px;
  transform: translate3d(-4px, 2px, 0);
  cursor: pointer;
}

.hero-title{
  font-family:'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
}






/*content*/

.hero-container h1{
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 100px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}



.hero-container p{

  font-weight: bold;
  padding: 2px;
  color: white;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate3d(-50%, -50%, 0);
  font-family: 'Rokkitt', serif;
  font-style: italic;
  font-weight: 150;
  font-size: 41px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3);

}


/*indiamap*/

.indiamap{
  position: absolute;
  position: absolute;
  margin-top: 256px;
  margin-left: 77%;
  padding: 10px 
  
}


.buttonlocator{
  background-color: transparent;
  position: absolute;
  margin-left: 82%;
  margin-top: 286px;

}

/*.indiamap{
  position: absolute;
  position: absolute;
  margin-top: 292px;
  margin-left: 77%;
  padding: 10px 
  
}


.buttonlocator{
  background-color: transparent;
  position: absolute;
  margin-left: 81%;
  margin-top: 323px;

}*/












/*------------------------------------------------- SECTION 2 QUOTE-------------------------------------------*/


.modi{

  display: block;
  margin-top: 230px;
  padding: 0.2%
  max-width:1400px;
  }

.modi blockquote{

  text-align: center;
  color: #2f2f2f;
  /*position: relative;*/
  /*left: 47%;*/
  /*transform: translate3d(-50%, -50%, 0);*/
  font-family:'Trirong', serif;
  font-style: italic;
  font-size: 29px;
  line-height: 201%;
  padding: 39px;
}





.modi img{

  position: relative;
  /*margin-left: 50%;*/
  padding: 10px;
  /*transform: translate3d(-50%, -50%, 0);*/

}


.modi h1{

  text-align: center;
  /*margin-top: -4%;*/
  padding top: 20px;
  color: #2f2f2f;  
  font-family:'Trirong', serif;
  font-size: 25px;
  letter-spacing: 1px;
 
}

.modi p{

  text-align: center;
  /*padding top: 20px;*/
  /*margin-top: -2%;*/
  color: #2f2f2f;
  /*position: relative;*/
  /*left: 47%;*/
  /*transform: translate3d(-50%, -50%, 0);*/
  font-family:'Trirong', serif;
  font-size: 15px;
 
}



/*------------------------------------------------- HYPERLINKS -------------------------------------------*/

.hyperlinks{

  text-decoration: none;
  text-align: center;
  padding top: 20px; 
  font-family:'Trirong', serif;
  font-size: 12px;

  
}



/*------------------------------------------------- PAGE DIVIDER -------------------------------------------*/



.pagedivider{
  /*position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);*/
  /* padding-left: 99%; */
  margin-top: 10%;
  margin-bottom: 10%;
  display: block;
}





/*------------------------------------------------- SECTION 3 SECTIONTITLES (GET INSPIRED) -------------------------------------------*/








.sectiontitle h1{

  margin-top: 10pc;
  text-align: center;
  color: #2f2f2f;
  /*position: relative;
  left: 49%;
  transform: translate3d(-50%, -50%, 0);*/
  font-family:'Trirong', serif;
  font-size: 29px;
  
}

.subnavigation {

  color: #7c7c7c;
  /* margin-top: -3%; */
  /* padding-right: 9%; */
  font-family: 'Trirong', serif;
  font-size: 15px;
  /* position: relative; */
  text-align: center;
  /* margin-top: -3%; */
  color: black;
  /* text-decoration: none; */
  /* left: 3%; */
}




/*------------------------------------------------- SECTION 3 IMAGES (GET INSPIRED) -------------------------------------------*/

.imagepattern1{
  
  left:5px; 
  right:5px; 
  top:10px; 
  bottom:5px;
  margin-top: 10%;
  margin-bottom: 10%;

 }

 .imagepattern1 .nature{

      margin-left: 1%;
}


  /*----------------------- HYPERLINK -------------------------------------------*/

/*------------------------------------------------- PAGEDIVIDER -------------------------------------------*/



/*------------------------------------------------- IMAGE BANNER (SURPRISE ME) -------------------------------------------*/


/*.imagebanner1 {
    background-image: url('../images/bannersurpriseme.png');
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 800px;
    margin-bottom: 3%;
  }*/

  .imagebanner1 {

    background-image: url('../images/bannersurpriseme.png');
    min-width: 1024px;
    background-size: cover;
    height: 631px;
    margin-bottom: 3%;
  }


.surprisemebanner{
  width: 100%;
}



.surprisemebanner h1{

  color: white;  
  font-family:'Trirong', serif;
  font-size:25px;
  font-style: italic;
  letter-spacing: 1px;
  position: relative;
  margin-left: 46%;
  bottom: 385px;

}

.imagebutton{

    position: relative;
    margin-left: 50%;
    bottom: 407px;
    right: 12%;
    }

.button{

  color:#fff;
  text-align: center;
  padding: 20px;
}



.button-one {
  text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 0 0 100px;
}


.button-one {
  position: relative;
  /* margin-right: 80%; */
  border-radius: 4px;
  background-color:#ffc61a;
  opacity: 0.8;
  border: none;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
}


.button-one span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-one span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-one:hover span {
  padding-right: 25px;
}

.button-one:hover span:after {
  opacity: 1;
  right: 0;
}







/*------------------------------------------------- SECTION 4 SECTIONTITLES (MUST DO'S) -------------------------------------------*/

/*------------------------------------------------- SECTION 4 IMAGES (MUST DO'S) -------------------------------------------*/

.imagepattern2{
  margin-top: 10%;
}

/*------------------------------------------------- PAGEDIVIDER -------------------------------------------*/



/*------------------------------------------------- SECTION 4 SECTIONTITLES (MUST DO'S) -------------------------------------------*/

.onthego h2{

  color: #2f2f2f; 
  font-family:'Trirong', serif;
  font-size:18px;
  position: relative;
  bottom: 10px;
  margin-left: 19%;
  margin-top: 3%;

}



.onthego p{

  color: #7c7c7c; 
  font-family:'Trirong', serif;
  font-size:15px;
  position: relative;
  bottom: 18px;
  margin-left: 16%;
  margin-bottom: 10%;
}

/*------------------------------------------------- IMAGE BANNER2 (ON THE GO) -------------------------------------------*/

 .imagebanner2 {

    background-image: url('../images/mobileapp.png');
    min-width: 1024px;
    background-size: cover;
    height: 385px;
    margin-bottom: 3%;
  }


.mobileapp .imagebutton{

    margin-left: 72%;
    bottom: 333px;

}

.appstore{

      position: relative;
    margin-left: 68%;
    /* margin-bottom: 15%; */
    bottom: 308px;
}




/*------------------------------------------------- FOOTER-------------------------------------------*/

.footer{

    min-width: 1024px;
    background-size: cover;
    height: 385px;
    margin-bottom: 3%;
  }



.footer-nav{
  position: relative;
  left: 10%;
  top: 46px;
}

.footer-links{
  display: inline-block;
  position: relative;
  top: -10px;
  width: 650%%;
}

.footer-links li{
  display: inline-block;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;

}

.footer-links li a{
  color: #2f2f2f;
  text-decoration: none;
}

.footer-links a:hover {

  text-decoration:underline;    
  text-underline-position:center;
  color:#c2c2c2;
  border-width: 0px 0px 4px 0px;
  padding-bottom: 11px;

}




.form{     
  border:2px;
  color: grey;
  margin-left: 74%
}

.form h1{
  color: #7c7c7c; 
  font-family:'Trirong', serif;
  font-size:10px;
}


.socialmedia .hcenter{
  margin-left: 47%;
}


.copyright h1{

  color: #7c7c7c; 
  font-family:'Open Sans', sans-serif;
  font-size:11px;
  margin-top: 3%;
  margin-left: 39%;
}







/*------------------------------------------------------------DISCOVER INDIA--------------------------------------------------------------------*/
/*------------------------------------------------------------DISCOVER INDIA--------------------------------------------------------------------*/
/*------------------------------------------------------------DISCOVER INDIA--------------------------------------------------------------------*/
/*------------------------------------------------------------DISCOVER INDIA--------------------------------------------------------------------*/
/*------------------------------------------------------------DISCOVER INDIA--------------------------------------------------------------------*/




/*------------------------------------------------------------- SECTION 1 DISCOVER INDIA --------------------------------------------*/


.interior-page-title{


    /*margin-right: 20%;*/
    /*margin-top: 267px;*/
    /*margin-top: 18pc;*/
    text-align: center;
    color: #2f2f2f;
    /*position: relative;
    left: 49%;
    transform: translate3d(-50%, -50%, 0);*/
    font-family:'Trirong', serif;
    font-size: 25px;
}


.discoverindia img{
 /*left: 5%;*/
/*bottom: 21px;*/
}



.introduction p{

  margin-left: 7%;
  margin-top: 2%;
  /*width: 67%;*/
  padding: 0 30px;
  text-align: center;
  color: #7c7c7c;
  /*position: relative;*/
  /*left: 47%;*/
  /*transform: translate3d(-50%, -50%, 0);*/
  font-family:'Trirong', serif;
  font-size: 16px;

}

/*------------------------------------------------------------- PAGE DIVIDER --------------------------------------------*/

.abovecities, .pagedivider, .hcenter{
  margin-top: -35%;

}


/*------------------------------------------------------------- SECTION 2 SECTIONTITLES (CITIES) --------------------------------------------*/
.cities, .sectiontitle{

  margin-bottom: 3%;
}


/*------------------------------------------------------------- SECTION 2 IMAGES (CITIES) --------------------------------------------*/

/*------------------------------------------------------------- HYPERLINK --------------------------------------------*/

.undercities, .hyperlinks{

  margin-bottom: 30px;
}

/*------------------------------------------------------------- PAGE DIVIDER--------------------------------------------*/

.aboveexplore, .pagedivider, .hcenter{
 margin-top: 9%;
}




/*------------------------------------------------------------- SECTION 3 SECTIONTITLES (EXPLORE)--------------------------------------------*/

/*------------------------------------------------------------- SECTION 3 IMAGES (EXPLORE) --------------------------------------------*/


.imagepattern4explore{

  display:inline-block;
  border-color: purple;
          }


.imagepattern4explore img {
     height: 200px;
     width: 200px;
    }

.imagepattern4explore, .center { padding-top:10%; }
    p {
      text-align:center;
    }




/*------------------------------------------------------------- HYPERLINK --------------------------------------------*/

.underexplore, .hyperlinks{

     margin-top: 75px;
}


/*------------------------------------------------------------- PAGE DIVIDER--------------------------------------------*/

.aboveexplore, .pagedivider, .hcenter{
 margin-top: 9%;
}



/*------------------------------------------ SECTION 4 SECTIONTITLES (WE OFFER THE BEST)------------------------------*/

/*------------------------------------------ IMAGE BANNER (MAHARAJA EXPRESS)------------------------------*/




.maharajaexpressbanner {

    background-image: url('../images/discoverindia/maharajaexpress.png');
    min-width: 1024px;
    background-size: cover;
    height: 620px;
    margin-bottom: 3%;
  }


.maharajaexpressbanner h1{

  color: white;  
  font-family:'Trirong', serif;
  font-size:40px;
  position: relative;
  margin-left: 35%;
  top: 409px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.4);

 
}

.maharajaexpressbanner p{
 text-align: center;
  color: white; 
  font-weight: 10px; 
  font-family:'Trirong', serif;
  font-size:25px;
  font-style: italic;
  letter-spacing: 1px;
  position: relative;
 top: 377px;
 text-shadow: 1px 1px 0 rgba(0,0,0,.4);
    }




/*------------------------------------------------------------- PAGE DIVIDER--------------------------------------------*/

/*------------------------------------------ SECTION 4 SECTIONTITLES(FEATURES)-----------------------------------------*/

/*------------------------------------------ SECTION 4 IMAGES (FEATURES)-----------------------------------------*/


div.imagepattern5features {

  padding: 10px;
   display:inline-block;
   border-color: purple;

    }



   .imagepattern5{
   
    margin-bottom: 151px;}




/*------------------------------------------ FOOTER --------------------------------------------------------*/



























